<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/tegola.css" rel="stylesheet">
    <style>
      body {
        padding-top: 100px; /* 70px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/js/jquery.js"></script>
  </head>

  <body>
    <div class="spacer-fixed-top"></div>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="brand">
            <a href="/"><img src="/img/tegola_header.png" alt="Tegola
            Header Logo"/></a>
	  </div>
          <a class="btn btn-navbar" data-toggle="collapse" data-target="#headnav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div id="headnav" class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
	      <li class="active"><a href="{{site.posts[0].url}}">News</a></li>
	      <li class="active"><a href="/networks.html">Networks</a></li>
	      <li class="active"><a href="/howto/">HOWTO</a></li>
              <li class="active"><a href="/software/">Software</a></li>
	      <li class="active"><a href="/resources.html">Resources</a></li>
	      <li class="active"><a href="/ops/spectrum.html">Radio
		  Spectrum Usage</a></li>
            </ul>
{% if page.filename %}
	    <ul class="nav pull-right">
	      <li><a href="https://github.com/tegola-hubs/tegola-hubs.github.com/commits/master/{{page.filename}}">Page History</a></li>
	    </ul>
{% endif %}
	  </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="shareNice" class="nav" share-label="Share this page"></div>
      <div class="navbar navbar-pagenav">
	<div class="navbar-inner">
	  <a class="btn btn-navbar" data-toggle="collapse"
	     data-target="#pagenav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </a>
	  <div id="pagenav" class="nav-collapse">
	    <ul class="nav">
{% if page.wiki %}
              <li><a href="{{page.wiki}}">Wiki</a></li>
{% endif %}      
{% if page.issues %}
              <li><a href="{{page.issues}}">Issues</a></li>
{% endif %}      
{% if page.repository %}
              <li><a href="{{page.repository}}">Source Code</a></li>
{% endif %}
            </ul>
          </div> <!-- /pagenav-collapse -->
        </div> <!-- /navbar-inner -->
      </div> <!-- /navbar -->
    </div> <!-- /container -->
    <div class="container">
      <div class="content">
	{{content}}
      </div>
    </div> <!-- /container -->

    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
	<div class="container">
	  <div style="width: 100%; text-align: center;">
	    <a href="http://www.smo.uhi.ac.uk/">
	      <img src="/img/logo-smo.png" alt="Sabhal Mòr Ostaig" />
	    </a>
	    <a href="http://www.ed.ac.uk/">
	      <img src="/img/logo-ed.png" alt="University of
	      Edinburgh" /> 
	    </a>
	    <a href="http://www.inf.ed.ac.uk/">
	      <img src="/img/logo-inf.png" alt="School of Informatics"
	      />
	    </a>
	    <a href="http://www.uhi.ac.uk/">
	      <img src="/img/logo-uhi.png" alt="UHI Millenium
	      Institute" />
	    </a>
	    <a href="http://www.cs.stir.ac.uk/">
	      <img src="/img/logo-stir.png" alt="University of
	      Stirling" />
	    </a>
            <a href="http://www.carnegie-trust.org/">
              <img src="/img/logo-carnegie.png" alt="Carnegie Trust" />
            </a>
	  </div>
	  <div style="width: 100%; text-align: center; font-size: 8pt;">
            <a href="sitemap.html">Site Map</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="/js/share.js"></script>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </body>
</html>
